:root{
    --gold: #D8C16B;
    --white: #ffffff;
    --black: #4F4F4F;
}
html{
    
    font-size: 10px;
}
body {
    margin: 0px;
    padding: 0px;
    font-family: 'EB Garamond', serif;
    font-size: 1.7rem;
}

h1{
    font-size: 5rem;
    color: var(--white);
    margin-top: 1rem;
    font-weight: 400;
}

a {
    text-decoration: none;
    color: inherit;
}
#main-bg {
    background-image: url("../images/joe-abah-bg.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    padding: 3rem;
    background-position: center center;
}

#menu-icon-img{
    display: block;
    margin: 0 auto;
    cursor: pointer;
    transition: all 0.7s;
}
#menu-icon::after, .menu-list::after{
    content: "";
    display: table;
    clear: both;
}

.menu-list{
    transition: all 1s;
    position: absolute;
    display: none;
    right: 20px;
    background: var(--white);
    border-radius: 10px;
    padding: 10px;
    margin-top: 30px;
}

.menu-item, .social {
    padding: 5px;
    font-size: 2rem;
    list-style-type: none;
    margin-right: 21px;
}

main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#name-section{
    text-align: center;
}

#logo {
    width: 14rem;
}

.welcome {
    font-size: 6rem;
    margin-bottom: 1rem;
    color: var(--white);
}


#social-container {
    margin: auto 0 auto auto;
}



/* Utilities */

.t-upper{
    text-transform: uppercase;
}
.white {
    color: var(--white);
}
.gold {
    color: var(--gold);
}
.center {
    text-align: center;
}
.btn {
    border: 3px solid var(--gold);
    box-sizing: border-box;
    border-radius: 30px;
    padding: 1.4rem 3.3rem;
    background-color: unset;
    font-size: 1.7rem;
    color: var(--white);
    cursor: pointer;
}

.btn-style {
    margin: 4rem;
}
.btn:hover{
    transform: scale(1.06);
    transition: all 1s;
    background-color: rgba(0,0,0,0.6);
}
.btn:focus{
    outline: none;
}
.d-sm-flex{
    display: flex;
}
.container {
    
    margin: 0 auto;
}

/* About page styles */

#about-section{
    background-image: url("../images/joe-abah-bg-2.png");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100%;
    padding: 3rem;
    background-position: center center;
}

.about-text {
    line-height: 1.5;
    font-size: 1.7rem;
}

.menu-list-about{
    position: absolute;
    left: 30%;
    background: var(--white);
    border-radius: 10px;
    padding: 10px;
    margin-top:-20rem;
    display: none;
    
}


#menu-icon-about {
    text-align: center;
}

/*  media queries */

@media all and (min-width: 1000px){
    .menu-list-about{
        left: 45%
    }
    .container {
        width: 105rem;
    }

    #menu-icon-img{
        float: right;
    }
    #name-section{
        margin: 0 10rem;
    }
    .d-sm-flex{
        display: block;
    }
}